*{
 font-family: "JetBrainsMono Nerd Font";
 font-weight: bold;
 min-height: 0;
 font-size: 16px;
 padding: 2;
 margin: 0;
}

window#waybar {
    /* Transparent waybar. Make sure to comment out background-color: and border: */
    background-color: rgba(0,0,0,0);
    /* background-color: #1e1e2e; */
    /* border: 2px solid #313244; */
    transition-property: background-color;
    transition-duration: .5s;
}
  
window#waybar.hidden {
    opacity: 0.5;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    /*padding: 2px;*/
    color: #6E6A86;
    margin-right: 5px;
}

#workspaces button.active {
    color: #cba6f7;
    /*background: #cba6f7;*/
    border-radius: 15px 15px 15px 15px;
}

#workspaces button.focused {
    color: #d8dee9;
    /*background: #eba0ac;*/
    /*border-radius: 1px;*/
}

#workspaces button.urgent {
    color: #11111b;
    /*background: #EB6f92;*/
    border-radius: 10px;
}

#workspaces button:hover {
    /*background: #9CCFD8;*/
    color: #9CCFD8;
    /*border-radius: 15px;*/
}

#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#pulseaudio.bluetooth,
#pulseaudio.muted,
#pulseaudio.source-muted,
#wireplumber,
#mode,
#tray,
#cava,
#idle_inhibitor,
#mpd,
#bluetooth,
#taskbar,
#workspaces,
#custom-light_dark,
#custom-media,
#custom-updater,
#custom-menu,
#custom-cycle_wall,
#custom-power,
#custom-spotify,
#custom-weather,
#custom-power,
#custom-lock,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default 
#idle_inhibitor {
    color: #cba7f7;
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 4px;
    border: 1px solid #b4befe;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px 10px 10px 10px;
    padding-right: 0px;
    /*margin-left: 5px;
    padding-left: 5px;*/
}

#taskbar {
    border-radius: 10px;
}

#taskbar button.active {
    background-color: #313244;
}

#language {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#window {
    color: #cdd6f4;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 10px;
}

#cpu {
    color: #cba6f7;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
    background: #1e1e2e;
}

#memory {
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
    border-right: 0px;
    background: #1e1e2e;
}

#custom-cycle_wall,
#idle_inhibitor,
#custom-light_dark,
#clock {
    color: #cba7f7;
    border-radius: 6px 6px 6px 6px;
    margin-left: 0px;
    border-right: 0px;
    background: #1e1e2e;
}

#custom-menu {
    color: #cba7f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#custom-lock {
    color: #cba7f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

#bluetooth,
#disk,
#custom-weather {
    border-radius: 10px 10px 10px 10px;
    border-right: 0px;
    margin-left: 5px;
    color: #cba6f7;

}
#network {
    color: #cba7f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 10px 10px 10px;
}

#temperature {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#temperature.critical {
    background-color: #ff0000;
}

#tray {
    color: #cba7f7;
    margin-right: 5px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 10px 10px 10px;
}

#pulseaudio {
    color: #cba7f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.bluetooth {
    color: #cba7f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#wireplumber {
    color: #cba7f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    color: #cba7f7;
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}

#battery {
    color: #cba7f7;
    margin-left: 0px;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
}

#custom-updater,
#custom-power {  
    padding: 2px;  
    color: #cba7f7;
    border-radius: 10px 10px 10px 10px;
    margin-left: 0px;
    border-right: 0px;
    background: #1e1e2e;
}

#backlight {
    color: #cba7f7;
    border-left: 5px;
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}
